<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392640557929-vjeuu8qqum8a35jm3cb4o5s1a6rln8v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392640557929-vjeuu8qqum8a35jm3cb4o5s1a6rln8v9</string>
	<key>API_KEY</key>
	<string>AIzaSyAux6ggFsxZOj-SUEScGTNrpxXuKyzolEg</string>
	<key>GCM_SENDER_ID</key>
	<string>392640557929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minisx.swquizapp</string>
	<key>PROJECT_ID</key>
	<string>daniel-brew-crew-20887</string>
	<key>STORAGE_BUCKET</key>
	<string>daniel-brew-crew-20887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392640557929:ios:5f67ed6a9b9f8a1e1603f8</string>
</dict>
</plist>